# /etc/systemd/system/hfmusicgen.service

[Unit]
Description=hfMusicGen
After=network.target

[Service]
ExecStart=/home/alice/git3/hfMusicGen/app.sh
WorkingDirectory=/home/alice/git3/hfMusicGen
Restart=always
User=alice

[Install]
WantedBy=multi-user.target